[campc]
horiz = 4
        # MPC horizon

soft_constraints = true
        # soften constraints by adding penalized slack

soft_dyn_consts = false
ineq_dyn_consts = false

term_const = false
        # whether to have a terminal MPC constraint

ref_type = point_stab
        # reference signal for MPC controller can be path_foll, traj_track, point_stab

new_ref_each_step = false
        # re-calculate a new reference each step

warmstart = true
        # whether or not to use a warmstart strategy for solving mpc

# NB set up to one of these to true (either neither, cvmm or MID)
human_goal_cvmm = false
human_pred_MID = true
human_pred_MID_joint = true
human_pred_MID_vanil_as_joint = false
human_pred_AF = false
MID_stateful_weights = true

human_goal_cvmm_horizon = 3.0
min_hum_max_speed = 0.02
randomize_rob_goal = true



[mpc_env]
hum_model = orca_casadi_kkt
        # the model CAMPC uses for humans can be 'orca_casadi_kkt' (for SICNav-p and SICNav-np) or 'cvmm' (for MPC-CVMM baseline)

priviledged_info = false
        # if human model is orca_casadi_kkt, whether the robot has access to priviledged info (SICNav-p) or not (SICNav-np)

orca_kkt_horiz = 4
        # if human model is orca_casadi_kkt, the subset of the horizon where ORCA constraints are used to model humans

rob_len_buffer = 0.01
rob_wid_buffer = 0.01
rob_stat_buffer = 0.08

human_v_max_assumption = 0.5
        # if human model is orca_casadi_kkt and priviledged_info is false, the robot assumption about human maximum speed

rob_rad_buffer = 0.02
        # buffer to robot radius for mpc collision constraint

pref_speed = 0.90
        # robot preferred speed

max_speed = 0.95
        # robot maximum speed

max_rev_speed = 0.95
        # robot maximum reverse speed

max_rot_degrees = 60
        # robot maximum rotation in one time-step in degrees

max_l_acc = 0.5
        # robot maximum linear acceleration (m/s)

max_l_dcc = -1.5
        # robot maximum linear deceleration NB must be negative (m/s)

orca_ksi_scaling = 1e-2
orca_vxy_scaling = 1e0
orca_lambda_scaling = 1.0
        # if human model is orca_casadi_kkt, scaling variable in orca kkt constraints for better solver performance

# COST PARAMS
q_x = 1.0
q_y = 1.0
q_theta = 0.05
q_v_prev = 2.5
q_om_prev = 0.0
r_om = 50.0
q_v_prev_dot = 3.5
q_om_prev_dot = 0.1
term_q_coeff = 75.0
term_q_theta = 2.0

[humans]
        # The ORCA parameters for the model that SICNav has of the humans. The section in env.config controls the humans in the simulator
radius = 0.20
sensor = coordinates
safety_space = 0.05
v_pref = 1.5
max_acc = 2.0
neighbor_dist = 10
max_neighbors = 10
time_horizon = 2.5
time_horizon_obst = 1.50
max_speed = 1.2

[orca_plus]
visible = true
radius = 0.3
safety_space = 0.01
v_pref = 1.5
sensor = coordinates


[dwa]
acc_max = 0.5
ang_acc_max = 1.04
ang_acc_res_deg = 0.5
max_d = 2.0

