[campc]
horiz = 4
        # MPC horizon

soft_constraints = true
        # soften constraints by adding penalized slack

term_const = false
        # whether to have a terminal MPC constraint

ref_type = point_stab
        # reference signal for MPC controller can be path_foll, traj_track, point_stab

new_ref_each_step = false
        # re-calculate a new reference each step

warmstart = true
        # whether or not to use a warmstart strategy for solving mpc


[mpc_env]
hum_model = orca_casadi_kkt
        # the model CAMPC uses for humans can be 'orca_casadi_kkt' (for SICNav-p and SICNav-np) or 'cvmm' (for MPC-CVMM baseline)

priviledged_info = false
        # if human model is orca_casadi_kkt, whether the robot has access to priviledged info (SICNav-p) or not (SICNav-np)

orca_kkt_horiz = 4
        # if human model is orca_casadi_kkt, the subset of the horizon where ORCA constraints are used to model humans

human_v_max_assumption = 0.5
        # if human model is orca_casadi_kkt and priviledged_info is false, the robot assumption about human maximum speed

rob_rad_buffer = 0.02
        # buffer to robot radius for mpc collision constraint

pref_speed = 0.90
        # robot preferred speed

max_speed = 0.95
        # robot maximum speed

max_rev_speed = 0.95
        # robot maximum reverse speed

max_rot_degrees = 60
        # robot maximum rotation in one time-step in degrees

max_l_acc = 0.5
        # robot maximum linear acceleration (m/s)

max_l_dcc = -1.5
        # robot maximum linear deceleration NB must be negative (m/s)

orca_ksi_scaling = 1e-2
orca_vxy_scaling = 1e0
orca_lambda_scaling = 1.0
        # if human model is orca_casadi_kkt, scaling variable in orca kkt constraints for better solver performance


[orca_plus]
visible = true
radius = 0.3
safety_space = 0.01
v_pref = 1.5
sensor = coordinates


[dwa]
acc_max = 0.5
ang_acc_max = 1.04
ang_acc_res_deg = 0.5
max_d = 2.0

