# policy configurations for robot
[campc]
# the horizon and constraints
horiz = 4
soft_constraints = true
soft_dyn_consts = false
ineq_dyn_consts = false
term_const = false
# the reference type
# the path following robot will follow a dynamically feasible path, which terminates at the goal, i.e. varying positions, zero values for u_ref
__ref_type = path_foll
# the path following robot will track a dynamically feasible trajectory (positions and velocities), which terminates at the goal
_ref_type = traj_track
# the path following robot will attempt to arrive at a goal pose
ref_type = point_stab
# initializations for optimization
new_ref_each_step = false
use_casadi_init = false
warmstart = true
# for the MPCEnv object
[mpc_env]
# the human modelling and task requirements
system_linearization = false
dyn_type = kinematic
orca_kkt_horiz = 0
_hum_model = orca_casadi_kkt
hum_model = cvmm
__hum_model = orca_casadi_implicit
_rob_rad_buffer = 0.236
__rob_rad_buffer = 0.001
___rob_rad_buffer = 0.05
rob_rad_buffer = 0.02
pref_speed = 0.90
max_speed = 0.95
max_rot_degrees = 20
max_l_acc = 0.15
max_l_dcc = -0.15
# the cost values and settings
courteous_cost = false
[orca_plus]
visible = true
radius = 0.3
safety_space = 0.01
v_pref = 1.5
sensor = coordinates
[rl]
gamma = 0.9
[om]
cell_num = 4
cell_size = 1
om_channel_size = 3
[action_space]
kinematics =holonomic
# action space size is speed_samples * rotation_samples + 1
speed_samples = 5
rotation_samples = 16
sampling = exponential
query_env = true
[cadrl]
mlp_dims = 150, 100, 100, 1
multiagent_training = false
[lstm_rl]
global_state_dim = 50
mlp1_dims = 150, 100, 100, 50
mlp2_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false
with_interaction_module = false
[srl]
mlp1_dims = 150, 100, 100, 50
mlp2_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false
[sarl]
mlp1_dims = 150, 100
mlp2_dims = 100, 50
attention_dims = 100, 100, 1
mlp3_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false
with_global_state = true
[dwa]
acc_max = 1.5
ang_acc_max = 1.0
ang_acc_res_deg = 1.0
max_d = 2.0
[distnav]
num_samples_m = 100
look_ahead_T = 39
[unused_new_dwa]
wmax = 1.5
inflate_radius = 0.1
min_radius = 0.3
goal_tolerance = 0.3
ignore_perception = false
[olddwa]
time_horizon = 2.5
to_goal_cost_gain = 0.8
speed_cost_gain = 0.1
obstacle_cost_gain = 0.1
robot_stuck_flag_cons = 0.01
max_yaw_rate_degrees = 90.0
max_accel = 0.5
max_delta_yaw_rate_degrees = 9.0
v_resolution = 0.05
yaw_rate_resolution_degrees = 1